.recentcard{
    padding: 10px;
    width: 350px;
    height: 350px;
    padding-bottom: 5%;
 }
 .insideRecentImg{
    width:100%
 }
 .recentcardData{
    padding: 20px;
    background-color: #f4f5fc;
 }
 .rectnhead{
   width: 95%;
   margin: auto;
 }
 .viewmorecard{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10%;
 }
 @media(max-width:650px){
    .viewmorecard{
        display: block;
    }
    .recentcard{
        width: 100%;
        margin-top: 40%;
    }
 }